<form action="/logout" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="ログアウト">
</form>
<table>
<a href="/profile">プロフィール設定</a>
<tr>
<td><%= gravatar_img(@user) %></td>
<td><%= @user.userName %> @<%= @user.userID %><br>ツイート:<%=@tweetCount %></td>
</tr>
</table>
<form method='post' action='/posting'>
  <input type="hidden" name="userName" value="<%= @user.userName %>">
  <input type="hidden" name="userID" value="<%= @user.userID %>">
  <h2>本文</h2>
  <textarea id="post_text" name="comment" rows="5" cols="30"></textarea>
  <input id="post_button" type="submit" value="投稿">
  <span id = "message"></span>
</form>
<form method="post" target="_blank" action = "/search">
  <input id="search_text" type="text" name="keyword">
  <input id="search_button" type="submit" value="検索">
</form>
<h1>ツイート</h1>
  <% @comments.each do |contents|%>
    <p><%=contents["userName"]%>
       @<%=contents["userID"]%>
       <%=contents["postTime"]%></p>
    <p><%=convertBr(h(contents['comment']))%></p>
    <% if @user.userID == contents["userID"] %>
      <form method="post" action="/delete">
        <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="id" value="<%=contents["_id"]%>">
        <input type="submit" value="削除">
      </form>
    <%end%>
  <%end%>
