<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>Twitter</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script type="text/javascript" src="/javascript/autolink.js"></script>
  <script type="text/javascript" src="/javascript/lengthCheck.js"></script>
</head>
<body>
  <%= yield %>
</body>
</html>