<h2>ログイン</h2>
<form method="post" action="login">
  <table>
    <tr>
      <td>UserID
      <td><input type="text" name="userid">
    <tr>
      <td>Password
      <td><input type="password" name="password">
    <tr>
      <td><input type="submit" value="ログイン">
</table>
</form>
<a href="/signup">新規登録</a>