<h3>プロフィール設定</h3>
<form action="/profile" method="post">
  <h2>ユーザー名</h2>
  <input type="text" name="userName" value="<%=@user.userName%>">
  <h2>自己紹介</h2>
  <textarea name="profile" rows="4" cols="30"><%=@user.profile%></textarea>
  <input type="hidden" name="userID" value="<%= @user.userID %>">
  <input type="submit" value="変更">
</form>
<a href="/">Home</a>
