<h1>『<%=@keyword%>』での検索結果</h1>
  <% @search_comments.each do |contents|%>
    <p><%=contents['userName']%>
       @<%=contents["userID"]%>
       <%=contents['postTime']%></p>
    <p><%=convertBr(h(contents['comment']))%></p>
  <%end%>