<h2>新規登録</h2>
<form method="post" action="signup">
  <table>
    <tr>
      <td>UserName
      <td><input type="text" name="username">
    <tr>
      <td>ID
      <td><input type="text" name="userid">
    <tr>
      <td>Mail 
      <td><input type="text" name="address">
    <tr>
      <td>Password
      <td><input type="password" name="password">
    <tr>
      <td>Confirm Password
      <td><input type="password" name="password_conf">
    <tr>
      <td><input type="submit" value="登録">
</table>
</form>