<form action="/logout" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="ログアウト">
</form>
<table>
<tr>
<td><%= gravatar_img(@userinfo) %></td>
<td><%= @userinfo.userName %> @<%= @userinfo.userID %><br><%= @userinfo.profile %>
</tr>
</table>

<h1>ツイート</h1>
  <% @usercomments.each do |contents|%>
    <p><%=contents["userName"]%>
       @<%=contents["userID"]%>
       <%=contents["postTime"]%></p>
    <p><%=convertBr(h(contents['comment']))%></p>
  <%end%>
